@page
@model Three_Sisters_Hotel.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].TheRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].TheCustomer.FullName)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.Booking[0].CheckIn)
                </a>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].CheckOut)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.PriceSort">
                    @Html.DisplayNameFor(model => model.Booking[0].Cost)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
    if (item.CustomerEmail == (string)ViewData["userEmail"])
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TheRoom.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheCustomer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
        </tr>
    }
}
    </tbody>
</table>
